body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    color: #473144;
}

header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 2px solid #473144;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    margin: 0 10px;
}

.main-nav a {
    text-decoration: none;
    color: #AF1B3F;
    font-size: 1.2em;
}

.skiptocontent a {
    position: absolute;
    top: -40px;
    left: 0;
    background: #AF1B3F;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 0 0 5px 5px;
    transition: top 0.3s;
}

.skiptocontent a:focus {
    top: 0;
}

main {
    padding: 20px;
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
}

.articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.filters {
    position: sticky;
    top: 20px;
    height: max-content;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-details {
    font-size: 1.5em;
    color: #000000;
}

.article-content h2 {
    color: #AF1B3F;
    margin: 0;
}

article img {
    max-width: 500px;
    border-radius: 8px;
    padding-top: 25px;
}

footer {
    background-color: #473144;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
